<install-steps>
  <install-step title="Installation">
    <p>
      Please see our Servarr Wiki for installation instructions.
      <a href="https://wiki.servarr.com/lidarr/installation#linux">Link</a>
    </p>
    <migration-alert>Lidarr v1 will convert any existing v0.8 directory automatically on startup.</migration-alert>
  </install-step>
</install-steps>
